main {
    display: flex;
    flex-wrap: nowrap;
}


header.bg-img {
    /* The image used */
    background-image: url(./cloud-background.jpeg);
}

.dashboard-header {
    height: 100px;
    color: #fff;
    width: auto;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
}

section.side-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1.5rem;
    padding: 2rem;
}

.weather-data {
    display: flex;
    flex-direction: row;
    align-content: right;
    border: .25rem solid #000;
    width: 70%;
    margin: 1rem;
    padding: 1rem;
    align-content: space-evenly;
}